*{
  box-sizing: border-box;
}

html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
      font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto
    }

body{
  margin: 0;
	padding: 0;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto
  font-size: 14px;

}

.white{
  color: white;
}
.container{
  width: 960px;
  margin: 0 auto;
}

/*Header*/
header{
  background: #515151;
  color: white;
  padding: 20px;
}

.button-error{
  color: white;
  border-radius: 30px;
  background-color: #ff1628;
}


/* Main */

.pure-g [class *= "pure-u"]{
  font-size: 18px;
}

.marginElement{
  margin: 20px;
  padding: 50px;
}

.welcomeDisplay{
  display: flex;
  justify-content: space-between

}

#smallSentence1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
}

#descriptionHomepod{
  text-align: center;

}

.adaptationFunction h3{
  text-align: center;
}

.adaptAndStereo{
  display: flex;
  justify-content: space-around;
}

.musicFunction{
  width: 600px;
  margin: 0 auto;
}

.musicFunction h3{
  margin-bottom: 50px;
}

.presentationAppleMusic{
  display: flex;
  justify-content: space-around;
}

.presentationAppleMusic img:nth-child(1){
  width: 400px;
  height: auto;
}

.presentationAppleMusic img:nth-child(2){
  width: 400px;
  height: auto;
}

.experienceAudio{
  width: 650px;
  margin: 0 auto;
}

.siriPresentation{
  width: 800px;
  margin: 0 auto;
}

.siriFunction img:nth-child(1){
  width: 300px;
  height: auto;
  margin-top: 40px;
  position: relative;
  left: 65%;
}

.siriAndHomepod{
  text-align: center;
  padding: 20px;
  margin: 15px;
}
.siriAndHomepod img{
  width: 400px;
  height: auto;
}

.siriExamples{
  padding: 20px;
  margin: 30px;
}

.siriExamples div{
  padding: 15px;
}

.appleEcosystemPresentation{
  display: flex;
  justify-content: space-between;
}
.appleEcosystemPresentation img{
  height: 350px;
  width: auto;
  margin: 15px;
  border-radius: 15%;
}
.appleEcosystemPresentation h2{
  width: 500px;
  margin-top: 12%;
  text-align: center;
}

.sliderPart img{
  width: 300px;
  height: auto;
  border-radius: 4%
}
.sliderPart p{
  text-align: center;
}

.sliderPart{
  margin: 0 auto;
}

.sliderEcosystem{
  width: 580px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.slider{
  position: absolute;
  display: flex;
  transition: ease-in .5s all;
  will-change: left;
}
.slider img{
  margin: 0 10px;
}
.previous{
  position: absolute;
  top: 50%;
  left: 20px;
  background: white;
  color: green;
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
}

.next{
  position: absolute;
  top: 50%;
  right: 20px;
  background: white;
  color: green;
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
}

.dots{
	position: absolute;
	bottom: 20px;
	padding: 10px;
	left:50%;
	transform: translateX(-50%);
}
.dots li{
	display:inline-block;
}
.dots li a{
	color: white;
	text-decoration: none;
	padding: 10px;
	background: rgba(52, 152, 219,1.0);
	border-radius: 20%;
}
.dots li a.current{
	background-color: red;
}


.sliderEcosystem img{
  width: 550px;
  height: auto;
  border-radius: 5%;
}

.buyHomepod{
  text-align: center;
  background-color: #e5f442;
}
.buyHomepod img{
  border-radius: 5%;
}

.moreThings{
  display: flex;
  margin: 45px;
}

.moreThings img{
  height: 150px;
  width: auto;
}

.paymentServices{
  margin-top: 90px;
  display: flex;
}

/*Autre document*/

.coord{
  margin: 10px;
}
.coord a{
  text-decoration: none;
  color: black;
}
.coord button{
  background: #ff1628;
}
/* Footer */

footer{
  background: #515151;
  color: white;
  padding: 50px;
}
footer li{
  font-size: 11px;
}
footer h3{
  font-size: 12px;
  color: black;
}
