@font-face{
  font-family: AppleFont;
  src: url(https://developer.apple.com/design/downloads/SF-Font.dmg);
}
body{
  margin: 0;
	padding: 0;
	font-family: 'AppleFont', 'Arial', sans-serif;
  font-size: 14px;
}
.white{
  color: white;
}
.container{
  width: 960px;
  margin: 0 auto;
}

/*Header*/
header{
  background: #515151;
  color: white;
  padding: 20px;
}

.button-error{
  color: white;
  border-radius: 30px;
  background-color: #ff1628;
}


/* Main */



/* Footer */

footer{
  background: #515151;
  color: white;
  padding: 50px;
}
footer li{
  font-size: 11px;
}
footer h3{
  font-size: 12px;
  color: black;
}
